<nav class="nav-wrapper grey darken-3">
    <div class="container">
        <a href="/dashboard" className="brand-logo"><i class="fas fa-4x fa-beer text-orange mb-4"></i></a>
        <ul class="right">
            <li><button data-target="modal1" class="btn modal-trigger">Log a Beer</button></li>
            {{!-- <li><a href="/api/log">Log a Beer</a></li> --}}
            {{!-- here we will need to have an action to log the user out from ajax when clicked --}}
            <li><a class="logout" href="/">Log out</a></li>
        </ul>
    </div>
</nav>

{{!-- MATERIALIZE MODAL FOR LOG A BEER --}}
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Log a Beer</h4>
        </div>
        <p>Search for a beer to log</p>
        <div class="modal-body">
            <div class="input-group">
                <input type="text" class="form-control" id="beerSearched" placeholder="Enter a beer..." />
                <div class="table-section">

                </div>

                <button type="submit" class="search-beer btn-small">Search for Beer</button>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn-flat">Cancel</a>
    </div>
</div>

<div id="modal2" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="add-beer-title">Add beer to Database</h4>
        </div>
        <p>Type the name of the beer, and a short description</p>
        <div class="modal-body">
            <div class="input-group">
                <input type="text" class="form-control" id="beer-data-name" placeholder="Beer name..." />
                <input type="text" class="form-control" id="beer-data-description" placeholder="Description..." />
                <button type="submit" class="add-beer-data btn-small modal-close">Add beer</button>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn-flat">Cancel</a>
    </div>
</div>

<div id="modal3" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="beer-info-title"></h4>
        </div>
        <p id="beer-info-description"></p>
        <div class="modal-body">
            
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn-flat">Cancel</a>
    </div>
</div>

<div id="notification" style="display: none;">
</div>

{{!-- SCRIPT FOR MODAL --}}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
</script>