{{> signedinnav}}

 <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="img/bg-masthead.jpg">
          <span class="card-title">Dashboard for #Username</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>This is the User Dashboard. The 3 Intended Queries will automatically load on page.</p>
        </div>
      </div>
    </div>
  </div>

<div class="row">
<div class="timelineAllUsers col l6">
  <ul class="collection with-header">
      <li class="collection-header"><h4>Timeline For All Users</h4></li>
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Username: </span>
      <p>Beer Drank: <br>
         Time: <br>
         Location: <i class="fas fa-1x fa-map-marker-alt text-orange mb-4"></i>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">View Profile</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Username: </span>
      <p>Beer Drank: <br>
         Time: <br>
         Location: <i class="fas fa-1x fa-map-marker-alt text-orange mb-4"></i>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">View Profile</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Username: </span>
      <p>Beer Drank: <br>
         Time: <br>
         Location: <i class="fas fa-1x fa-map-marker-alt text-orange mb-4"></i>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">View Profile</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Username: </span>
      <p>Beer Drank: <br>
         Time: <br>
         Location: <i class="fas fa-1x fa-map-marker-alt text-orange mb-4"></i>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">View Profile</i></a>
    </li>
  </ul>
</div>



<div class="topUserBeers col l6">
   <ul class="collection with-header">
        <li class="collection-header"><h4>Top Beers From All Users</h4></li>
        <li class="collection-item"><div>Piss &nbsp &nbsp &nbsp &nbsp | &nbsp &nbsp Count:<a href="#!" class="secondary-content"><i class="material-icons">Info</i></a></div></li>
        <li class="collection-item"><div>Puke &nbsp &nbsp &nbsp | &nbsp &nbsp Count:<a href="#!" class="secondary-content"><i class="material-icons">Info</i></a></div></li>
        <li class="collection-item"><div>Vomit &nbsp &nbsp | &nbsp &nbsp Count:<a href="#!" class="secondary-content"><i class="material-icons">Info</i></a></div></li>
        <li class="collection-item"><div>Ethanol &nbsp | &nbsp &nbsp Count:<a href="#!" class="secondary-content"><i class="material-icons">Info</i></a></div></li>
      </ul>
    </div>
    
</div>       