{{> signedinnav}}

<div class="container">
    <div class="row whole-row">
        <div class="card z-depth-1 user-profile">
            <div class="card-content grey-text text-darken-3">
                <div class="row profile-row">
                    <div class="col s4">
                        <img class="responsive-img" src="img/user.png" alt="user">
                    </div>
                    <div class="col s8 stats">
                        <div class="row">
                            <div class="col s6">
                                <span class="card-title">Lucas Merat</span>
                                <h6><span class="numbers">145</span> Total Drinks</h3>
                                    <h6><span class="numbers">47</span> Uniqe Beers</h3>
                                        <h6 class="headline">Top 3 Beers</h6>
                                        <ul>
                                            <li>Lagunitas IPA - 24 Drinks</li>
                                            <li>Pisga Pale Ale - 12 Drinks</li>
                                            <li>Natty Lite - 5 Drinks</li>
                                        </ul>
                            </div>
                            <div class="col s6">
                                <button class="btn-small right">Add friend</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card z-depth-0 user-timeline">
            <div class="card-content grey-text text-darken-3">
                <div class="row">
                    <div class="col s12">
                        <h4><i class="far fa-clock"></i>Timeline</h4>
                        <ul class="collection">
                            <li class="collection-item"><i class="fas fa-beer"></i> Lagunitas IPA <i class="fas fa-question-circle grey-text"></i> <span
                                    class="right">Yesterday at 3:35pm</span></li>
                            <li class="collection-item"><i class="fas fa-beer"></i> Natty Lite <i class="fas fa-question-circle grey-text"></i> <span
                                    class="right">Friday at 11:23pm</span></li>
                            <li class="collection-item"><i class="fas fa-beer"></i> Jester King <i class="fas fa-question-circle grey-text"></i> <span
                                    class="right">Wednesday at 9:47pm</span></li>
                            <li class="collection-item"><i class="fas fa-beer"></i> Natty Lite <i class="fas fa-question-circle grey-text"></i> <span class="right">Last
                                    Thursday at 7:35am</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>