{{> signedoutnav}}

<div class="form account-screen">
<div class="container">
  <h2 class="grey-text text-darken-3">Sign Up</h2>
  <form class="create-user">
    <div class="form-group">
    <div class="input-field">
      <label for="userName">UserName:</label>
      <input type="text" id="userName" name="userName">
    </div>
    <div class="input-field">
      <label for="user">Email:</label>
      <input type="text" id="email" name="email">
    </div>
    <div class="input-field">
      <label for="pass">Password:</label>
      <input type="password" id="password" name="password" minlength="8">
    </div>
    </div>
    <div class="input-field">
        <button class="submit btn lighten-1" type="submit">Sign Up</button>
    </div>
  </form>
  </div>
</div>
