{{> signedoutnav}}

{{!-- <div class="container">
    <form class="white">
        <h5 class="grey-text text-darken-3">Sign In</h5>
        <div class="input-field">
            <label for="username">Username</label>
            <input type="text" id="username" />
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <input type="password" id="password" />
        </div>
        <div class="input-field">
            <button id="login" class="btn">Login</button>
        </div>
    </form>
</div> --}}

<div class="form white">
    <div class="container">
        <form class="login-user">
            <h2 class="grey-text text-darken-3">Sign In</h2>
            <div class="form-group">
                <div class="input-field">
                    <label for="user">Email:</label>
                    <input type="text" id="emailLog" name="email">
                </div>
                <div class="input-field">
                    <label for="pass">Password:</label>
                    <input type="text" id="passwordLog" name="password">
                </div>
            </div>
            <div class="input-field">
                <button class="submit btn orange lighten-1" type="submit">Sign In</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>