{{> signedoutnav}}

<div class="container">
    <form class="white">
        <h5 class="grey-text text-darken-3">Sign In</h5>
        <div class="input-field">
            <label for="username">Username</label>
            <input type="text" id="username" />
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <input type="password" id="password" />
        </div>
        <div class="input-field">
            <button id="login" class="btn">Login</button>
        </div>
    </form>
</div>