{{> signedoutnav}}

<div class="form">
<div class="container">
  <h2 class="grey-text text-darken-3">Sign Up</h2>
  <form class="create-user">
    <div class="form-group">
    <div class="input-field">
      <label for="user">Email:</label>
      <input type="text" id="email" name="email">
    </div>
    <div class="input-field">
      <label for="pass">Password:</label>
      <input type="text" id="password" name="password">
    </div>
    </div>
    <div class="input-field">
        <button class="submit buttons btn" type="submit">Sign Up</button>
    </div>
  </form>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>