.list-group-item {
  line-height: 2.5;
}

.btn:hover, .btn-small:hover {
  background-color: #dc7f15 !important;
}

.btn, .btn-small {
  background-color:#f28e1c;
}

a {
  color: #f28e1c;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #dc7f15;
}

.topUserBeers {
/* float: right; */
display: inline-block;
}

.timelineAllUsers {
  display: inline-block;
}

body {
  margin: 0;
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  line-height: 1.2;
}

.headline {
  text-decoration: underline;
}

.stats {
  padding-left:45px !important;
}

.fa-clock {
  padding-left:20px;
  color: #f28e1c;
}

.fa-beer {
  color: #f28e1c;
}

.numbers {
    font-weight: 300;
    color: #fff;
    background-color:#f28e1c;
    border-radius: 2px;
    padding: 3px 6px;
}

.whole-row {
  margin-top:24px;
}

.profile-row {
  margin-bottom: 0px;
}

#buttons-section {
  margin-top:20px;
}

#buttons-section > button {
  margin:5px;
}

.add-beer-data {
  margin-top:10px;
}

#notification {
  position:fixed;
  top:0px;
  width:100%;
  z-index:105;
  text-align:center;
  font-weight:normal;
  font-size:18px;
  font-weight:bold;
  color:white;
  background-color:#f28e1c;
  padding:5px;
}
#notification span.dismiss {
  border:2px solid #FFF;
  padding:0 5px;
  cursor:pointer;
  float:right;
  margin-right:10px;
}
#notification a {
  color:white;
  text-decoration:none;
  font-weight:bold
}