.list-group-item {
  line-height: 2.5;
}

.container {
  width: 100%;
}

.card-content {
  padding: 4px !important;
}

.miniprofile {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px;
  font-size: 20px;
}

.timelineAllUsers {
  display: inline-block;
}

.topUserBeers,.topUserDrinkers {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  font-size: 16px;
}

.topDrinkers {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  font-size: 16px;
}

.miniprofileUnique {
  margin-bottom: 10px;
}

.miniprofile-user-div {
  text-align: center;
}

.account-screen {
  margin: 5% 10% 5% 10%;
}

.miniprofile-div {
  margin-top: 10px;
  text-align: center;
}

.usernameTitle {
  font-weight: bold !important;
}

.btn:hover,
.btn-small:hover {
  background-color: #dc7f15 !important;
}

.collection-item {
  padding: 5px;
}

.btn,
.btn-small {
  background-color: #f28e1c;
}

a {
  color: #f28e1c;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

a:hover {
  color: black;
}

#log-drink {
  font-size: 30px;
}

#log-drink:hover {
  font-size: 40px;
}

.fa-info-circle:hover {
  color: #f28e1c!important;
}

.top-beer-div {
 font-size: 14px;
}

.topUserBeers {
  display: inline-block;
}

.top-beer-icon {
  margin-bottom: 2px;
}

.profile-timeline-beer {
  margin-top: 6px;
}

body {
  margin: 0;
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  line-height: 1.2;
}

.headline {
  text-decoration: underline;
}

.stats {
  padding-left: 45px !important;
}

.fa-clock {
  padding-left: 20px;
  color: #f28e1c;
}

.fa-beer {
  color: #f28e1c;
}

.fun-beer {
  font-weight: 300;
  color: #fff;
  background-color: #f28e1c;
  border-radius: 2px;
  padding: 4px 6px;
  /* margin-top: 20px; */
}

.top-beer-div {
margin-top: 10px;
}

.whole-row {
  margin-top: 24px;
}

.profile-row {
  margin-bottom: 0px;
}

#buttons-section {
  margin-top: 20px;
}

#buttons-section > button {
  margin: 5px;
}

.add-beer-data {
  margin-top: 10px;
}

#notification {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 105;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #f28e1c;
  padding: 5px;
}
#notification span.dismiss {
  border: 2px solid #fff;
  padding: 0 5px;
  cursor: pointer;
  float: right;
  margin-right: 10px;
}
#notification a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .stats {
    padding-left: 10.5px !important;
  }

  .top-section, .userTop{
    text-align:center;
  }

  .user-timeline-section{
    text-align: center;
  }
  
  .user-timeline-time{
    display: block !important;
    float: none !important;
  }

  .user-top-number{
    display: block !important;
    float: none !important;
  }
}